<article>
    <div class="row">
        <div class="col3">
            <img class="img-fluid" alt="" src="https://images.pexels.com/photos/11035474/pexels-photo-11035474.jpeg?auto=compress&cs=tinysrgb&w=600" >
        </div>
        <div class="col7">
            <h3>
                Devrais-je Apprendre Python en 2025 ?
            </h3>
            <div>
                <p class="categories">
                    <b>Informatique</b>
                    <span>|</span>
                    <b>Pragrogrammation</b>
                </p>
                <p>
                    Cet article est un simple test pour afficher les articles dans une application. Il permet de vérifier que l'affichage fonctionne correctement et que le contenu est bien structuré.
                </p>
                <p>
                    <i>Publié par <strong>Labeya</strong> le 12 mai 2040 à 12h12 </i>
                </p>
            </div>
            <div class="row-action">
                <div>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-fill" viewBox="0 0 16 16">
                            <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        </svg>
                        Commentaires
                    </a>
                </div>

                <div>
                    <a href="">Voir la suite</a>
                </div>
            </div>
        </div>
    </div>


</article>