<article class="p-5 border shadow-md border-gray-200 rounded-md hover:border-indigo-200" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

    <div class="">
        <div class="mb-5">
            <img class="img-fluid" alt="image de l'article {{ article.title }}" src="{{ article.image }}" >
        </div>
        <div class="col7">
            <h3 class="mb-3 text-xl text-gray-800">
               {{ article.title }}
            </h3>

            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              {{ article.title }}
            </h3>
  <p class="font-normal text-gray-700 dark:text-gray-400">
    {{ excerptText(article.content, 30) }}
  </p>
            <div>
                <div class="categories mb-4 space-y-3">
                  <span *ngFor="let category of article.categories" class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300">
                    {{category.name}}
                  </span>
                </div>
                <p class="post-content">
                    {{ excerptText(article.content, 30) }}
                </p>
                <p>
                    <i>Publié par <strong> {{ article.author }} </strong> {{article.created_at}} </i>
                </p>
            </div>
            <div class="flex items-center gap-4">

              <a href="" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                {{ article.comments }}
                {{ article.comments > 0 ? 'Commentaires' : 'Commentaire' }}
              </a>

              <a href="" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Voir plus</a>
            </div>
        </div>
    </div>
</article>
