<article >
    <div class="row">
        <div class="col3">
            <img class="img-fluid" alt="image de l'article {{ article.title }}" src="{{ article.image }}" >
        </div>
        <div class="col7">
            <h3>
               {{ article.title }}
            </h3>
            <div>
                <p class="categories">
                    <b *ngFor="let category of article.categories">
                      {{category.name}}
                    </b>
                </p>
                <p class="post-content">
                    {{ excerptText(article.content, 30) }}
                </p>
                <p>
                    <i>Publié par <strong> {{ article.author }} </strong> {{article.created_at}} </i>
                </p>
            </div>
            <div class="row-action">
                <div>
                    <a href="" class="comment-count">
                        {{ article.comments }}
                        {{ article.comments > 0 ? 'Commentaires' : 'Commentaire' }}
                    </a>
                </div>

                <div>
                    <a href="" class="more">Voir la suite</a>
                </div>
            </div>
        </div>
    </div>
</article>
